################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HospitalAdminPanel.slnx/config/applicationhost.config
/.vs/HospitalAdminPanel.slnx/DesignTimeBuild
/.vs/HospitalAdminPanel.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/HospitalAdminPanel.slnx/FileContentIndex/137229a0-9b7e-4f25-9db5-27e4daefad39.vsidx
/.vs/HospitalAdminPanel.slnx/FileContentIndex/62ff8cc2-bf77-4c94-96ff-753bda110e30.vsidx
/.vs/HospitalAdminPanel.slnx/FileContentIndex/7b340e5c-0c6c-437e-88a4-976523891a74.vsidx
/.vs/HospitalAdminPanel.slnx/FileContentIndex/a8430756-7717-435a-b2e2-0c21e2f61568.vsidx
/.vs/HospitalAdminPanel.slnx/FileContentIndex/ba68f0df-5466-4587-9347-7adfb1842688.vsidx
/.vs/HospitalAdminPanel.slnx/FileContentIndex/ccc2b466-fc4b-4667-b559-79dbcdffcb2f.vsidx
/.vs/HospitalAdminPanel.slnx/v18/.suo
/bin/Debug/net8.0/appsettings.Development.json
/bin/Debug/net8.0/appsettings.json
/bin/Debug/net8.0/dotnet-tools.json
/bin/Debug/net8.0/HospitalAdminPanel.deps.json
/bin/Debug/net8.0/HospitalAdminPanel.dll
/bin/Debug/net8.0/HospitalAdminPanel.pdb
/bin/Debug/net8.0/HospitalAdminPanel.runtimeconfig.json
/bin/Debug/net8.0/HospitalAdminPanel.staticwebassets.endpoints.json
/bin/Debug/net8.0/HospitalAdminPanel.staticwebassets.runtime.json
*.vsidx
/bin/Release/net8.0/appsettings.Development.json
/bin/Release/net8.0/appsettings.json
/bin/Release/net8.0/dotnet-tools.json
/bin/Release/net8.0/HospitalAdminPanel.deps.json
/bin/Release/net8.0/HospitalAdminPanel.dll
/bin/Release/net8.0/HospitalAdminPanel.exe
/bin/Release/net8.0/HospitalAdminPanel.pdb
/bin/Release/net8.0/HospitalAdminPanel.runtimeconfig.json
/bin/Release/net8.0/HospitalAdminPanel.staticwebassets.endpoints.json
/bin/Release/net8.0/HospitalAdminPanel.staticwebassets.runtime.json
/obj/Debug/net8.0/ref/HospitalAdminPanel.dll
/obj/Debug/net8.0/refint
/obj/Debug/net8.0/refint/HospitalAdminPanel.dll
/obj/Debug/net8.0/scopedcss
/obj/Debug/net8.0/scopedcss/bundle
/obj/Debug/net8.0/scopedcss/bundle/HospitalAdminPanel.styles.css
/obj/Debug/net8.0/scopedcss/projectbundle
/obj/Debug/net8.0/scopedcss/projectbundle/HospitalAdminPanel.bundle.scp.css
/obj/Debug/net8.0/scopedcss/Views/Shared
/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/ApiEndpoints.json
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/HospitalAdminPanel.AssemblyInfo.cs
/obj/Debug/net8.0/HospitalAdminPanel.AssemblyInfoInputs.cache
/obj/Debug/net8.0/HospitalAdminPanel.assets.cache
/obj/Debug/net8.0/HospitalAdminPanel.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/HospitalAdminPanel.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/HospitalAdminPanel.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/HospitalAdminPanel.dll
/obj/Debug/net8.0/HospitalAdminPanel.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/HospitalAdminPanel.genruntimeconfig.cache
/obj/Debug/net8.0/HospitalAdminPanel.GlobalUsings.g.cs
/obj/Debug/net8.0/HospitalAdminPanel.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/HospitalAdminPanel.pdb
/obj/Debug/net8.0/HospitalAdminPanel.RazorAssemblyInfo.cache
/obj/Debug/net8.0/HospitalAdminPanel.RazorAssemblyInfo.cs
/obj/Debug/net8.0/rjimswa.dswa.cache.json
/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/obj/Debug/net8.0/rpswa.dswa.cache.json
/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/obj/Debug/net8.0/staticwebassets.build.json
/obj/Debug/net8.0/staticwebassets.build.json.cache
/obj/Debug/net8.0/staticwebassets.development.json
/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/obj/Debug/net8.0/staticwebassets.removed.txt
/obj/Debug/net8.0/swae.build.ex.cache
/obj
/Properties
/.vs/HospitalAdminPanel.slnx/v18
/bin/Debug/net8.0
/.vs
/bin/Debug/net8.0
